{% extends 'list.html' %} <!-- extiende del listado ya que es la estructura general de todos los listados  -->
{% load static %} <!-- para leer librerias estaticas-->
{% load widget_tweaks %} <!-- variable para hacer iretaciones-->
<!-- bloque d elibrerias para ver listados  -->
{% block head_list %}
    <!--libreria de autocomplete  -->
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <!--libreria para usar listados  -->
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <!--libreria para usar fechas con js y plugin para validar fechas de boostrap4 -->
    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>
    <!--librria para usar aumento porcentajes con botones esto se usa para el aumento del iva  -->
    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
    <!-- llamada de js personalizado para las listas o selects-->
    <script src="{% static 'sale/js/form.js' %}"></script>
{% endblock %}
<!-- Bloque de contenido -->
{% block content %}
    <form method="post" id="frmSale">
        <!-- delcrar el metodo post aqui hace que no me deje almacenar hasta que no halla llenado todos los campos  -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <!-- validando en tipo de icono-->
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8"> <!-- divide el formulario en 2 (8-4)-->
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de productos</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Buscador de productos:</label>
                                    <div class="input-group">
                                        <!--name="search" el nombre del imput para poder usarlo en form.js y hacer busquedas -->
                                        <!-- buscador de productos con select2-->
{#                                        <select class="form-control select2" name="search"></select>#}
                                        <input type="text" class="form-control" autocomplete="off" placeholder="Ingrese una descripción" maxlength="50" name="search">
                                        <div class="input-group-append">
                                            <!--Boton de opciones de busqueda -->
                                            <button class="btn btn-primary dropdown-toggle" type="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Opciones
                                            </button>
                                            <div class="dropdown-menu">
                                                <!-- listado -->
                                                <a class="dropdown-item btnSearchProducts">
                                                    <i class="fas fa-search"></i> Buscar productos
                                                </a>
                                                <!--tecla de eliminar la bsuqueda -->
                                                  <a class="dropdown-item btnClearSearch">
                                                    <i class="fas fa-times"></i> Limpiar búsqueda
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr> <!-- Boton para borrar todos los productos del listados de venta   btnRemoveAll-->
                                <button type="button" class="btn btn-danger btn-xs btn-flat btnRemoveAll">
                                    <i class="fas fa-trash"></i> Eliminar todo el listado
                                </button>
                                <hr>
                                <table class="table table-bordered" id="tblProducts">
                                    <thead>
                                    <!--Para visualizar el stock debemos ir a vents/tblproducts en forms.js -->
                                    <tr>
                                        <th>Eliminar</th>
                                        <th>Producto</th>
                                        <th>Stock</th>
                                        <th>Pventa</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4"> <!-- parte de ventas caja de la derecha mas queñea de la division -->
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Datos de la factura</h3>
                            </div>
                            <div class="card-body">
                                <!-- Asiganando identificador de cuadro derecho Enviando la accion action con un imput invisible para ser verificado por el evento POST el envio en views.py-->
                                <input type="hidden" name="action" value="{{ action }}">
                                <div class="form-group">
                                    <label>Fecha de venta:</label>
                                    <!-- componenete fecha del formulario forms.py-->
                                    {{ form.date_joined }}
                                </div>
                                <div class="form-group">
                                    <!--Llamando datos de clientes del componenete form -->
                                    <!-- btnAddClient Boton verde para agregar un cliente nuevo -->
                                    <div class="input-group">
                                        {{ form.cli }}
                                        <div class="input-group-append">
                                            <button class="btn btn-success btn-flat btnAddClient" type="button">
                                                <i class="fas fa-user-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Subtotal:</label>
                                    <!--Llamando datos de subtotal del componenete form-->
                                    {{ form.subtotal }}
                                </div>
                                <div class="form-group">
                                    <label>IVA:</label>
                                    <!--Llamando datos de iva del componenete form-->
                                    {{ form.iva }}
                                </div>
                                <!--  valor final del iva -->
                                <div class="form-group">
                                    <label>IVA Calculado:</label>
                                    <input type="text" class="form-control" readonly name="ivacalc" value="0.00">
                                </div>
                                <div class="form-group">
                                    <label>Total a pagar:</label>
                                    {{ form.total }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
    <!--myModalClient  Modal para agregar clientes en el formulario de ventas -->
    <div class="modal fade" id="myModalClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="frmClient" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-user-plus"></i> Nuevo registro de un cliente</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--  frmClient variable del context data iterando los componentes del formulario de afregar clientes-->
                        {% for field in frmClient.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Cliente
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!---Fin del modal de agregar clientes -->
    <!-- myModalSearchProducts Modal de busqueda de productos-->
    <div class="modal fade" id="myModalSearchProducts" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <b><i class="fas fa-search"></i> Búsqueda de Productos</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="tblSearchProducts">
                                    <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Imagen</th>
                                        <th>Stock</th>
                                        <th>P.Unitario</th>
                                        <th>Opciones</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                </div>
            </div>
        </div>
    </div>

    <!-- fin del Modal de busqueda de productos-->


    <!-- presenta la informacion de los productos antiguaos en el template safe es una propiedad para parsear datos -->
    <script>
        vents.items.products = {{ det|safe }};
        // Se removio el vents.list(); para calcular bien el iva en el editar. Revisar al final del archivo form.js se lo puso.
    </script>

{% endblock %}