{% extends 'list.html' %} <!--hereda las estrcuturas generalizadas de los listados ya que ya tiene las librwerias para usar datatable -->
{% load static %} <!-- permite llamar archivos esticos-->
{% block head_list %}
    <!-- Librerias staticas para los calendarios -->
    <script src="{% static 'lib/moment-2.25.3/moment.js' %}"></script>
    <!-- Librerias staticas para usar el intervalo de fechas con calendarios dinamicos-->
    <script src="{% static 'lib/daterangepicker-3.1/spanish.js' %}"></script> <!--idioma de calendario -->
    <script src="{% static 'lib/daterangepicker-3.1/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/daterangepicker-3.1/daterangepicker.css' %}"/>
    <!--FUncion para aplicacion de reportes por intervalos con los calendarios del plugin -->
    <!-- Librerias para usar botones de descargar pdf o excel de datatable-->
        <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/css/buttons.bootstrap.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/jszip-2.5.0/jszip.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/pdfmake-0.1.36/pdfmake.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/pdfmake-0.1.36/vfs_fonts.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/buttons.html5.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'sale/js/report.js' %}"></script>
{% endblock %}

<!-- sobre escribiendo el bloque de contenido de list-->
{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-chart-bar"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Rango de fechas:</label>
                        {{ form.date_range }} <!-- llamando al componente imput de form rango de fechas-->
                    </div>
                </div>
            </div>
            <hr>
            <table class="table table-bordered" id="data">
                <thead>
                <tr>
                    <th scope="col">Nro</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Fecha de registro</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Iva</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ list_url }}" class="btn btn-success btn-flat">
                <i class="fas fa-sync"></i> Actualizar
            </a>
        </div>
    </div>
{% endblock %}
<!-- interrumpe la inicializacion de la tabala de reporte de ventas de datatable-->
{% block javascript %}

{% endblock %}