<!--estrcutura hml para cambiar contraseña y confirmarla -->
{% extends 'login/base.html' %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'index' %}"><b>Ha</b>des</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Cambio de contraseña</p>
                <form action=".." method="post">
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <!-- componenete de forms.py para ingresar la contraseña nueva -->
                        {{ form.password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                         <!-- componenete de forms.py para confirmar la contraseña nueva -->
                        {{ form.confirmPassword }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fas fa-lock"></i> Cambiar Contraseña
                            </button>
                        </div>
                    </div>
                    <!-- Enlace para volver a visualizar el loguin-->
                    <p class="text-center mt-2" style="font-size: 13px;">
                        Si deseas volver al login da un click <a
                            href="{% url 'login' %}">aqui </a>
                    </p>
                </form>
            </div>
        </div>
        <script type="application/javascript">
            $(function () {
                $('form').on('submit', function (e) {
                    e.preventDefault();
                    var parameters = new FormData(this);
                    submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de Cambiar tu contraseña?', parameters, function () {
                        Swal.fire({
                            title: 'Notificación',
                            text: ' Tu contraseña ha sido cambiada correctamente',
                            icon: 'success',
                            timer: 5000,
                            onClose: () => {
                                location.href = '{{login_url}}'; //redirigimos gracias a la bvariable global y parametro de get context data en view al login una vez haya sido cambiada la contraseña
                            }
                        }).then((result) => {

                        });
                    });
                });
            });
        </script>

    </div>
{% endblock %}