{% extends 'form.html' %}
{#hereda atributos de el template general de formulario#}
{% load static %}

{#librerias para usar select2 y script para inicilizar el componenete#}
{% block head_form %}
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
{#    iniciliaziador del componenete de listado desplegable de roles#}
    <script src="{% static 'user/js/form.js' %}"></script>
{% endblock %}