{#heredando de listados generales#}
{% extends 'list.html' %}
{#leyendo archivos estaticos#}
{% load static %}

{% block head_list %}
{#    llamando el js de usuarios#}
    <script src="{% static 'user/js/list.js' %}"></script>
{% endblock %}
{#  me quede en el minuto 11 55#}
{% block columns %}
    <tr>
    <!-- aqui se pueden añadir campos nuevos a los listados y modificar el tamaño de los campos -->
        <th scope="col" style="width: 5%;">Nro</th>
        <th scope="col" style="width: 15%;">Nombres</th>
        <th scope="col" style="width: 15%;">Username</th>
        <th scope="col" style="width: 20%;">Fecha de registro</th>
        <th scope="col" style="width: 10%;">Imagen</th>
        <th scope="col" style="width: 15%;">Grupos</th>
        <th scope="col" style="width: 15%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}