{% extends 'layout.html' %}
{% load static %} <!-- llamando archivs estaticos-->
<!--librerias estaticas para usar graficos  -->
{% block head %}
    <script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>
{% endblock %}
<!-- contener con -->
{% block content %}
    <!-- contenedor de grafico de barras por meses de ventas-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- contiene el grafico de javascript de la libreria  para llamar el js de la libreria-->
                <div id="container"></div>
            </div>
        </div>
        <!-- grafico por productos -->
     <br>
        <div class="row">
            <div class="col-lg-12">
                <div id="container-pie"></div>
            </div>
        </div>
        <br>
    <!--Contenedor de grafico online  -->
    <div class="row">
            <div class="col-lg-12">
                <div id="container-online"></div>
            </div>
        </div>
        <br>
    </div>
    <!-- java script de la documentacion de la libreria  application/javascript-->
    <script type="application/javascript">
    /**---------------- script para mostrar la data en froma grafica ------------**/
         var graphcolumn = Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Reporte de ventas del año 2022'
            },
            subtitle: {
                text: 'Reporte de columnas'
            },
            xAxis: {
                categories: [
                    'Enero',
                    'Febrero',
                    'Marzo',
                    'Abril',
                    'Mayo',
                    'Junio',
                    'Julio',
                    'Agosto',
                    'Septiembre',
                    'Octubre',
                    'Noviembre',
                    'Diciembre'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Valores $'
                }
            }, /** modificaciones del mensaje emergente de las columnas**/
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },/** --------------------------------------------------- **/
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
        });
        /** ------------------grafico de pastel de productos  -----------codigo de -documentacion propia de la libreria------------------**/
        var graphpie = Highcharts.chart('container-pie', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Porcentaje de venta de productos por el mes de enero del año 2022'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
        });
        /**----------------------- fin del script para mostrar la data en froma grafica ------------------------**/
        /** ------ Grafico online  codigo de la documentacion  ----------- **/
         Highcharts.chart('container-online', {
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {
                        var series = this.series[0];
                        setInterval(function () {
                            /** cargando los datos para el grafico online con ajax **/
                            $.ajax({
                                url: window.location.pathname, //window.location.pathname
                                type: 'POST',
                                data: {
                                    'action': 'get_graph_online' /** get_graph_online vairable de getcontextdata **/
                                },
                                dataType: 'json',
                            }).done(function (data) {
                                if (!data.hasOwnProperty('error')) {
                                    /** valores d x y Y**/
                                    var x = (new Date()).getTime();
                                    /** valor de y enviado por vieews.py **/
                                    series.addPoint([x, data.y], true, true);
                                    return false;
                                }
                                message_error(data.error);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                alert(textStatus + ': ' + errorThrown);
                            }).always(function (data) {

                            });
                        }, 1000);
                    }
                }
            },

            time: {
                useUTC: false
            },

            title: {
                text: 'Live random data'
            },

            accessibility: {
                announceNewData: {
                    enabled: true,
                    minAnnounceInterval: 15000,
                    announcementFormatter: function (allSeries, newSeries, newPoint) {
                        if (newPoint) {
                            return 'New point added. Value: ' + newPoint.y;
                        }
                        return false;
                    }
                }
            },

            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },

            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },

            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
            },

            legend: {
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }
                    return data;
                }())
            }]
        });

        /** --------------fin del grafico online --------------- **/
        /** -------------Funcion para enviar la data de los graficos con ajax----VENTAS POR MESES--GRAFICO DE BARRAS-------------------------- **/
        /** siempre que usamos el metodo post las funciones son get**/
        function get_graph_sales_year_month() {
            $.ajax({
                url: window.location.pathname, /** url actual de la peticion **/
                type: 'POST', /** tipo de peticion**/
                /** RECIBIENDO parametros DE VIEWS.PY  diccionario data**/
                data: {
                    'action': 'get_graph_sales_year_month'
                },
                dataType: 'json', /** reorna tipo de datos djson **/
                /** --------------control de errores-----------------**/
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                    graphcolumn.addSeries(data);
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        }
        /** FUNCION DE PRODUCTOS VENDIDOS POR MESES PARA EL GRAFICO DE PASTEL**/
        function get_graph_sales_products_year_month() {
            $.ajax({
                url: window.location.pathname, //window.location.pathname
                type: 'POST',
                data: {
                    'action': 'get_graph_sales_products_year_month'
                },
                dataType: 'json',
            }).done(function (data) {
                /** se hace la gestion de datos para enviar al grafico **/
                if (!data.hasOwnProperty('error')) {
                    /** envia la data a la variable graphpie por medio de la propiedad addSeries **/
                    graphpie.addSeries(data);
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        }
       /** Funciones que inician al visualizar el template o inicializadores de funciones**/
        $(function () {

            get_graph_sales_year_month();

            get_graph_sales_products_year_month();

        });
    </script>
{% endblock %}